
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTML Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body background="F:/html.jpg">
    <div class="container body-content">
        



<div class="container">


                    <div class="row justify-content-center" style="padding-top:100px;">
<label><b>SKIN CANCER DETECTION</b></label>



                </div>
                <div class="row justify-content-center" style="padding-top:100px;">
<button class="btn btn-primary">DETECT</button>


                </div>
                <div class="row justify-content-center" style="padding-top:100px;">
<button class="btn btn-primary">ABOUT</button>


                </div>
                <div class="row justify-content-center" style="padding-top:100px;">
<label> Made By - Harsh Kumar, Shashi Raj, Aditi Anshu </label>


                </div>


</div>



    </div>
</body>
</html>
